
body{
	width: 100%;
	height: 100%;
	margin: 5px;
	font-family: "Helvetica Neue", Arial, Helveticam sans-serif;
}

h1 {
    color: blue;
    margin-left: 37%;
}

#map {
	height: 500px;
	width: 700px;
	margin-left: 32%;
}
	