*{
	margin:0;
	padding:0;
}
body, html{
	height: 100%;
	width: 100%;
	font-family: "Helvetica Neue", Arial, Helveticam sans-serif;
}

div#header{
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
	vertical-align:top;
	background-color: black;
	border-bottom: 2px solid grey;
	width: 100%;
	height: 5%
}

p.headings{
	color:orange;
	font-size:1vw;
	font-weight: bold;
}

#map {
	position: relative;
	vertical-align:middle;
	height: 95%;
	width: 100%;
}
	